
/* body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
} */

/* .main {
  flex: 1;
} */

/* .container {
  display: flex;
} */

#title {
  /* background-color: #1b5459; */
}

.title-heading {
  font-family: 'Nixie One', cursive;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: white
}

.title-text {
  font-family: 'Nixie One', cursive;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  top: 5%;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: white
}
.Arci-Design {
  position: absolute;
  top: 20%;
}

.imgb {
  width: 100%;
  height: 1080px;
}
.About-Me {
 color: red;
 position: absolute;
 top: 125%;
 left: 20%;
 width: 45%;
} 
.aboutme-paragraph {
  color: #fff;
  position: absolute;
  top: 135%;
  left: 20%;
  width: 30%;
}





#project {
  background-color: #01140b;
  padding-bottom: 20%;
}

.glow {
  width: 700px;
  height: 470px;
  position: relative;
  margin-top: 5%;
}


.glow-1 {
  width: 700px;
  height: 470px;
  position: relative;
  margin-top:12%;
  left: 48%;
}

.text {
  font-family: 'Nixie One', cursive;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  left: 27%;
  margin-top: auto;

}
.textscratch {
  font-family: 'Nixie One', cursive;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  left: 63%;
  margin-top: 9.3%;
}


@media (max-width: 100%) and (min-width: 200px){

  .body {
    flex-direction: column;
    height: 100%;
  }

}
